@import '../../variables.scss';

.chapterModal {
    .modal-body span {
        font-size: 11px;
        text-transform: uppercase;
    }
}

.chapterInfo:first-child { border-top: none; }
.chapterInfo {
    border-top: 1px solid #ccc;
    padding: 10px 0;
}

.chapterAccordion .card-header {
    background: white;
    padding: 15px 10px;
    border: 1px solid #dddd;
    margin: 10px 0;

    & .introDivider { margin: 0 10px; }
    & h6 { 
        margin: 0;     
        font-size: 10px;
        letter-spacing: 1px;
    }
}

.internalAccordion li {
    list-style: none;
    padding: 5px 10px;
    margin: 10px 0;
    border: 1px solid #dddd;
    font-size: 12px;

    a { color: #333; }
}