// Theme Variables
// ------------------
$title-font: 'Alegreya';
$text-font: 'Roboto Slab';

$main-color-dark: #242d3b;
$title-color-dark: #98abc7;
$text-color-dark: #fff;

$main-color-light: #fff;
$text-color-light: #000;
$title-color-light: #98abc7;

// Typohraphy
h1,h2,h3,h4,h5,h6 { font-family: $title-font; }
div, a, p { font-family: $text-font; }


// Global utilities.
// ------------------

.littleDivider {
    width: 50px;
    height: 2px;
    background: $title-color-dark;
}


// Theme Styles
// ------------------

.colorTheme { height: 100vh; }

.darkTheme {
    @extend .colorTheme;
    background-color: $main-color-dark;
    color: $text-color-dark;

    & p, 
    & a { color: $text-color-dark; } // Standard dark typography.

    & .navbar a, // Navbar dark styles.
    & .navbar-nav .nav-link {
        color: $text-color-dark;

        &:hover {
            color: $text-color-dark;
        }
    }

    & .list-group-item {
        background-color: $main-color-dark;
        padding: 0.75rem 0rem;

        & .categoryName {
            color: $title-color-dark;
            font-size: 0.8rem;
            margin: 0;
        }
    }
}

.lightTheme {
    @extend .colorTheme;
    background-color: $main-color-light;
    color: $text-color-light;

    & p, & a { color: $text-color-light; } // Standard light typography.
    
    & .list-group-item { 
        background-color: $main-color-light;
        padding: 0.75rem 0rem;

        & .categoryName {
            color: $title-color-light;
            font-size: 0.8rem;
            margin: 0;
        }
    }
}

// Banner Styles
// ------------------

.bannerStart {
    background: antiquewhite;
    img { width: 700px; }
}
@media (max-width: 699px) {
    .bannerStart {
        img { width: 100%; }
    }
}