@import 'variables.scss';

// Typohraphy
h1,h2,h3,h4,h5,h6 { font-family: $title-font; color: $title-color-dark; }
div, a, p { font-family: $text-font; }


// Global utilities.
// ------------------
html, body { height: 100%; }

.dividerMenu {
    width: 1px;
    height: 15px;
    background: $title-color-dark;
    margin: auto 10px;
}

.littleDivider {
    width: 50px;
    height: 2px;
    background: $title-color-dark;
}

@media (max-width: 991px) {
    .dividerMenu { display: none; }
}


// Theme Styles
// ------------------

.darkTheme {
    background-color: $main-color-dark;
    color: $text-color-dark;

    & p, 
    & a { color: $text-color-dark; } // Standard dark typography.

    & .navbar { background: $header-nav-background; }

    & .navbar a, // Navbar dark styles.
    & .navbar-nav .nav-link {
        color: $text-color-dark;

        &:hover {
            color: $text-color-dark;
        }
    }

    & .list-group-item {
        background-color: $main-color-dark;
        padding: 0.75rem 0rem;

        & .categoryName {
            color: $title-color-dark;
            font-size: 0.8rem;
            margin: 0;
        }
    }
}

.lightTheme {
    background-color: $main-color-light;
    color: $text-color-light;

    & p, & a { color: $text-color-light; } // Standard light typography.

    & .nappyNavigation { border-bottom: 1px solid #f5f5f5; }
    
    & .list-group-item { 
        background-color: $main-color-light;
        padding: 0.75rem 0rem;

        & .categoryName {
            color: $title-color-light;
            font-size: 0.8rem;
            margin: 0;
        }
    }
}

// Logo Styles
// ------------------

.logoPosition {
    position: relative;
    top: 65px;
    margin-top: -100px;
    margin-right: 0.5rem;
}

// Banner Styles
// ------------------

.bannerStart {
    background: antiquewhite;
    img { width: 700px; }
}

@media (max-width: 699px) {
    .bannerStart {
        img { width: 100%; }
    }
}