// Variables
// ------------------
$title-font: 'Alegreya';
$text-font: 'Lora';

$main-color-dark: #242d3b;
$title-color-dark: #98abc7;
$text-color-dark: #d8d8d8;

$main-color-light: #fff;
$text-color-light: #333;
$title-color-light: #98abc7;

$header-nav-background: #181f28;